
<h1 align="center">Listado de Roms</h1>

<table>
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Plataforma</th>
    <th>Empresa</th>
  </tr>
  </thead>

  <tbody>
  <% @roms.each do |rom| %>
      <tr>
        <td><%= rom.name %></td>
        <td><%= rom.platform.name %></td>
        <td><%= rom.company %></td>
      </tr>
  <% end %>
  <tbody>
  </table>
