<header>
  <div>
    <div>
      <nav>
        <ul>
          <li><%= link_to "Plataformas", '#' %></li>
          <li><%= link_to "Géneros", '#' %></li>
          <li><%= link_to "Roms", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>