<header>
  <div>
    <div>
      <nav>
        <ul>
          <li><%= link_to "Plataformas", platforms_path %></li>
          <li><%= link_to "Géneros", genres_path %></li>
          <li><%= link_to "Roms", roms_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>